<%= stylesheet_link_tag "new.css", :media => "all" %> 

<div class="container">
  <h1 class="title">New Note</h1>

  <%= render "form", post: @post %>

  <div class="back-link">
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>
